extends layout

block content
    img.index-logo#logo(src='/img/logo.png')
    .slogan#slogan
        | &ldquo;Left to reject, right to like!&rdquo;

    if error
        .panel.panel-danger.connection-error
            .panel-heading.connection-error-content
                | Something wrong happened when trying to connect to Instagram, please 
                a(href='https://www.instagram.com/oauth/authorize/?client_id=#{clientId}&redirect_uri=#{applicationUrl}/auth&response_type=code&scope=public_content+likes') retry
                |  in a while.
    else
        .connection-panel#connection-panel
            .welcome-message Well, hello you!
            | Please connect to your Instagram account in order to use the application.
            br
            a.btn.btn-swipe-me.btn-login(href='https://www.instagram.com/oauth/authorize/?client_id=#{clientId}&redirect_uri=#{applicationUrl}/auth&response_type=code&scope=public_content+likes') Login

    script.
        $(document).ready(function() {
            $("#logo, #slogan").fadeIn("slow", function() {
                $("#connection-panel").addClass("connection-panel-visible");
            });
        });
