doctype html
html(lang='en' ng-app="Swipe.Me")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width')
        link(rel='icon' href='/img/favicon.png')
        title=title
        block css
            if ENV_DEVELOPMENT
                link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.css')
            else
                link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
            link(rel='stylesheet', href='/css/style.css')
        block js
            if ENV_DEVELOPMENT
                script(src='/components/jquery/dist/jquery.js')
                script(src='/components/bootstrap/dist/js/bootstrap.js')
            else
                script(src='/components/jquery/dist/jquery.min.js')
                script(src='/components/bootstrap/dist/js/bootstrap.min.js')
            // Angular files.
            script(src='/components/angular/angular.js')
            script(src='/js/app.js')

    body
        if username
            .status-bar
                | Connected as 
                a.username-link(href='https://www.instagram.com/#{username}/' target='_blank') #{username}
                a.btn.btn-xs.btn-swipe-me.btn-disconnect(href='/logout') Disconnect
    
        block content
        
        .footer
            .page-author
                a.mailto-link(href='mailto:miguel.santamaria@heig-vd.ch') Miguel Santamaria
                | , 2016
            a.policy-link(href='/policy') Policy
