// COLORS
@link-color: #3766AD;
@link-hover-color: #3A37AD;
@button-color: #FFF;
@info-color: #E7DFDC;
@info-color-hover: #ACADBA;
// SIZES AND PLACEMENTS
@connection-panel-visible-bottom: -10px;
@connection-panel-padding-top: 2vh;
@connection-panel-padding-bottom: "@{connection-panel-padding-top} - @{connection-panel-visible-bottom}";
@connection-panel-title-font-size: 2vh;
@connection-panel-title-margin-bottom: 1vh;
@connection-panel-font-size: 1.6vh;
@connection-panel-button-margin-top: 2.3vh;
@connection-panel-height: "16px + 2 * @{connection-panel-padding-top} + (@{connection-panel-padding-bottom}) + @{connection-panel-title-font-size} + @{connection-panel-title-margin-bottom} + 2 * @{connection-panel-font-size} + @{connection-panel-button-margin-top}";
@title-margin-top: 6.5vh;
@title-font-size: 4.1vh;
@title-small-margin-top: 2vh;
@title-small-margin-bottom: 1vh;
@header-font-size: 1.5vh;
@header-margin: 5vh;
@header-padding: 2vh;
@header-height: "12px + 0.6vh + 2px + @{header-font-size} + 2px + 2 * @{header-padding}";
@result-information-margin: 1.1vh;
@header-small-height: "@{header-height} + @{result-information-margin} + @{header-font-size}";
@swiper-logo-margin: 12.5vh;
@swiper-logo-height: "100vh - @{title-margin-top} - @{title-font-size} - @{header-margin} - (@{header-height}) - 2 * @{swiper-logo-margin}";
@picture-wrapper-margin: 5vh;
@picture-wrapper-height: "100vh - @{title-small-margin-top} - @{title-small-margin-bottom} - @{title-font-size} - (@{header-small-height}) - 2 * @{picture-wrapper-margin}";
@picture-buttons-height: 10.8vh;
@picture-wrapper-width: "@{picture-wrapper-height} - @{picture-buttons-height}";
@picture-buttons-padding-height: 1.5vh;
@picture-buttons-padding-width: 4vh;
@picture-button-height: @picture-buttons-height - 2 * @picture-buttons-padding-height;
@picture-button-background-size: 4.5vh;
@picture-button-like-background-width: 3.9vh;
@note-font-size: 1.6vh;
@panel-no-more-picture-padding: 4vh;
@panel-no-more-picture-line-height: 4vh;
@panel-no-more-picture-height: "(2 * @{panel-no-more-picture-padding} + 2 * @{panel-no-more-picture-line-height} + 2px)";
@panel-no-more-picture-bottom: "(100vh - @{title-margin-top} - @{title-font-size} - @{header-margin} - (@{header-height})) / 2";

// GLOBAL SCOPE
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/Lato.woff2') format('woff2');
}

html {
    height: 100%;
}

body {
    background: rgba(0, 0, 0, 0) url("/img/background.jpg") no-repeat fixed center 0 / cover;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align: center;
}

a {
    color: @link-color;
    &:hover {
        color: @link-hover-color;
    }
}

.btn-swipe-me {
    background-color: @link-color;
    color: @button-color;
    &:hover, &:focus, &:active {
        background-color: @link-hover-color;
        color: @button-color;
    }
}

.status-bar {
    color: white;
    font-size: 1.5vh;
    left: 0;
    padding: 10px 20px;
    padding: 1.1vh 2vh;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    z-index: 1;
}

.status-bar * {
    font-size: 1.5vh;
}

.username-link {
    color: @info-color;
    font-weight: bold;
}

.username-link:hover, .username-link:focus, .username-link:active {
    color: @info-color;
}

.btn-disconnect {
    margin-left: 10px;
}

.title {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: @title-font-size;
    font-weight: bold;
    margin-top: 60px;
    margin-top: 6.5vh;
    opacity: 1;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: margin-top 500ms, opacity 500ms;
}

.title-small {
    margin: 20px 0 10px 0;
    margin: @title-small-margin-top 0 @title-small-margin-bottom 0;
    opacity: 0.5;
}

.footer {
    bottom: 0;
    font-size: 1.5vh;
    left: 0;
    padding: 10px 20px;
    padding: 1.1vh 2vh;
    position: fixed;
    width: 100%;
}

.page-author {
    color: @info-color;
    float: left;
}

.mailto-link {
    color: @info-color;
    &:hover, &:focus, &:active {
        color: @info-color-hover;
    }
}

.policy-link {
    color: @info-color;
    float: right;
    text-decoration: underline;
    &:hover, &:focus, &:active {
        color: @info-color-hover;
    }
}



// HOME PAGE
.index-logo {
    display: none;
    height: 500px;
    height: 46.5vh;
    margin-top: 40px;
    margin-top: 4vh;
}

.slogan {
    border-radius: 4px;
    color: #2f384f;
    display: none;
    font-family: sans-serif;
    font-size: 25px;
    font-size: 3.25vh;
    font-weight: bold;
    margin: 40px 0 0 50%;
    margin: 4.5vh 0 0 50%;
    text-shadow: -1px 0 20px #DFDEE3, 0 1px 20px #DFDEE3, 1px 0 20px #DFDEE3, 0 -1px 20px #DFDEE3;
    transform: translateX(-50%);
}

.connection-error {
    bottom: -10px;
    bottom: @connection-panel-visible-bottom;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    font-size: @connection-panel-font-size;
    margin: 0 0 0 50%;
    position: absolute;
    transform: translateX(-50%);
}

.connection-error-content {
    padding: 20px 30px 32px 30px;
    padding: 2vh 3vw ~"calc(2vh - @{connection-panel-visible-bottom})" 3vw;
}

.connection-panel {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    border-radius: 5px;
    bottom: -160px;
    bottom: ~"calc(-1 * (@{connection-panel-height}))";
    font-size: @connection-panel-font-size;
    height: ~"calc(@{connection-panel-height})";
    margin-left: 50%;
    padding: 20px 40px 32px 40px;
    padding: @connection-panel-padding-top 4vw ~"calc(@{connection-panel-padding-bottom})" 4vw;
    position: absolute;
    transform: translateX(-50%);
    transition: bottom 750ms;
    z-index: 1;
}

.connection-panel-visible {
    bottom: -10px;
    bottom: @connection-panel-visible-bottom;
}

.welcome-message {
    font-size: @connection-panel-title-font-size;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
    margin-bottom: @connection-panel-title-margin-bottom;
}

.btn-login {
    font-size: @connection-panel-font-size;
    margin-top: 20px;
    margin-top: @connection-panel-button-margin-top;
    width: 44%;
}



// POLICY PAGE
.policy-title {
    margin-top: 12vh;
}

.policy-header {
    text-align: left;
}



// SWIPER PAGE
.header {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    min-height: ~"calc(@{header-height})";
    margin: 50px auto;
    margin: @header-margin auto;
    min-width: 250px;
    opacity: 1;
    padding: 20px;
    padding: @header-padding;
    transition: height 500ms, margin 500ms, opacity 500ms;
    width: 50%;
}

.header-small {
    height: ~"calc(@{header-small-height})";
    margin: 0 auto;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

.hashtag-input-group * {
    font-size: @header-font-size;
    height: auto;
}

.error-content {
    font-size: @header-font-size;
    padding: 2vh;
}

.btn-show-pics {
    border-radius: 4px !important;
    margin-left: 10px !important;
}

.error-hashtag {
    margin: 20px 0 0 0 !important;
    margin: 2vh 0 0 0 !important;
}

.result-information {
    font-size: 0;
    margin-top: @result-information-margin;
    transition: font-size 500ms;
}

.result-information-final {
    font-size: @header-font-size;
}

.swiper-logo {
    bottom: 125px;
    bottom: @swiper-logo-margin;
    display: none;
    height: 500px;
    height: ~"calc(@{swiper-logo-height})";
    left: 0;
    margin-left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.picture-wrapper {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    display: none;
    height: 638px;
    height: ~"calc(@{picture-wrapper-height})";
    margin: 50px 0 40px 50%;
    margin: @picture-wrapper-margin 0 @picture-wrapper-margin 50%;
    max-width: 90%;
    position: absolute;
    transform: translateX(-50%);
    transition: transform 750ms, margin 200ms;
    width: 538px;
    width: ~"calc(@{picture-wrapper-width})";
}

.picture-wrapper-liked {
    margin: 0 0 0 50%;
    transform: translateX(calc(~"50vw + @{picture-buttons-height}")) rotate(90deg) !important;
}

.picture-wrapper-rejected {
    margin: 0 0 0 50%;
    transform: translateX(~"calc(-50vw - (@{picture-wrapper-height}))") rotate(-90deg) !important;
}

.paperclip {
    height: 7.8vh;
    position: absolute;
    right: 30px;
    right: 3.4vh;
    top: -7px;
    top: -0.8vh;
    transition: opacity 250ms;
    z-index: 2;
}

.paperclip-transparent {
    opacity: 0.15;
}

.note {
    background: #f7f381; /* Old browsers */
    background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fefdca 0%,#f7f381 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fefdca 0%,#f7f381 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381',GradientType=0 ); /* Background for IE6-9 */
    font-size: @note-font-size;
    height: 73px;
    height: 8.1vh;
    position: absolute;
    right: 10px;
    right: 1.1vh;
    top: 15px;
    top: 1.7vh;
    text-align: left;
    transform: rotate(5deg);
    transition: height 200ms, opacity 250ms, width 200ms;
    width: 200px;
    width: 22.2vh;
    z-index: 1;
    &:hover {
        height: 300px;
        height: 33.3vh;
        width: 300px;
        width: 33.3vh;
    }
}

.note-transparent {
    opacity: 0.15;
}

.hashtags-section {
    max-height: 28px;
    max-height: 2 * @note-font-size;
    overflow: hidden;
    padding: 10px;
    padding: 1.1vh;
    text-overflow: ellipsis;
    transition: max-height 200ms;
    white-space: nowrap;
    width: 100%;
}

.note:hover .hashtags-section {
    max-height: 263px;
    max-height: 28.2vh;
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
}

.author-section {
    bottom: 0;
    padding: 10px;
    padding: 1.1vh;
    position: absolute;
    width: 100%;
}

.note-separation {
    border-color: #ddb730;
    margin-bottom: 0.55vh;
}

.picture {
    background-color: @info-color;
    border-radius: 5px;
    height: 536px;
    height: ~"calc(@{picture-wrapper-width} - 2px)";
    padding: 30px;
    padding: 3vh;
    width: 536px;
    width: ~"calc(@{picture-wrapper-width} - 2px)";
}

.picture-buttons {
    height: 100px;
    height: @picture-buttons-height;
    padding: 15px 40px;
    padding: @picture-buttons-padding-height @picture-buttons-padding-width;
    position: relative;
}

.reject-button, .like-button {
    border: 1px solid black;
    border-radius: 35px;
    border-radius: @picture-button-height / 2;
    cursor: pointer;
    height: 70px;
    height: @picture-button-height;
    width: 70px;
    width: @picture-button-height;
}

.reject-button {
    background: rgba(0, 0, 0, 0) url("/img/cancel.png") no-repeat scroll;
    background-position: 14px 14px;
    background-position: calc(~"(@{picture-button-height} - @{picture-button-background-size}) / 2 - 1px") calc(~"(@{picture-button-height} - @{picture-button-background-size}) / 2 - 1px");
    background-size: 40px 40px;
    background-size: @picture-button-background-size @picture-button-background-size;
    float: left;
    &:hover {
        background-color: rgba(0, 0, 0, 0.15);
    }
}

.like-button-picture {
    background-position: 14px 18px;
    background-position: calc(~"(@{picture-button-height} - @{picture-button-background-size}) / 2 - 1px") calc(~"(@{picture-button-height} - @{picture-button-like-background-width}) / 2 + 1px");
    background-size: 40px 35px;
    background-size: @picture-button-background-size @picture-button-like-background-width;
}

.like-button-picture-active {
    background: rgba(0, 0, 0, 0.15) url("/img/like_filled.png") no-repeat scroll;
    .like-button-picture;
}

.like-button {
    background: rgba(0, 0, 0, 0) url("/img/like_not_filled.png") no-repeat scroll;
    float: right;
    .like-button-picture;
    &:hover {
        .like-button-picture-active
    }
}

.like-button-active {
    .like-button-picture-active
}

.message-no-more-picture {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 3px;
    bottom: 350px;
    bottom: ~"calc(@{panel-no-more-picture-bottom})";
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    font-size: 2vh;
    font-weight: bold;
    height: 72px;
    height: ~"calc(@{panel-no-more-picture-height})";
    line-height: @panel-no-more-picture-line-height;
    margin-left: 50%;
    opacity: 0;
    overflow: auto;
    padding: 40px;
    padding: @panel-no-more-picture-padding;
    position: absolute;
    transform: translateX(-50%);
    transition: opacity 300ms;
    width: 50%;
}

.message-no-more-picture-visible {
    opacity: 1;
}

.arrows-info {
    font-size: calc(~"(@{picture-wrapper-width}) / 41");
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    width: calc(~"100% - (2 * @{picture-button-height} + 2 * @{picture-buttons-padding-width}) - 2vh");
}
