/* GLOBAL SCOPE */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('/fonts/Lato.woff2') format('woff2');
}

body {
    background: rgba(0, 0, 0, 0) url("/img/background.jpg") no-repeat scroll 0 0 / 100% auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: hidden;
    text-align: center;
}

a {
    color: #3766ad;
}

a:hover, a:focus, a:active {
    color: #3a37ad;
}

.btn-swipe-me {
    background-color: #3766ad;
    color: white;
}

.btn-swipe-me:hover, .btn-swipe-me:focus, .btn-swipe-me:active {
    background-color: #3a37ad;
    color: white;
}

.status-bar {
    color: white;
    top: 0;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 1;
}

.username-link {
    color: #E7DFDC;
    font-weight: bold;
}

.username-link:hover, .username-link:focus, .username-link:active {
    color: #E7DFDC;
}

.btn-disconnect {
    margin-left: 10px;
}

.title {
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: bold;
    margin-top: 60px;
    opacity: 1;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: margin-top 500ms, opacity 500ms;
}

.title-small {
    margin-top: 20px;
    opacity: 0.5;
}



/* HOME PAGE */
.index-logo {
    display: none;
    height: 430px;
    margin-top: 60px;
}

.slogan {
    color: #2f384f;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.connection-error {
    bottom: -10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    margin: 0 0 0 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 800px;
}

.connection-error-content {
    padding: 20px 20px 30px 20px;
}

.connection-panel {
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    border-radius: 5px;
    bottom: -160px;
    margin-left: 50%;
    padding: 20px 80px 32px 80px;
    position: absolute;
    transform: translateX(-50%);
    transition: bottom 750ms;
    z-index: 1;
}

.connection-panel-visible {
    bottom: -10px;
}

.welcome-message {
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}

.btn-login {
    margin-top: 20px;
    width: 200px;
}



/* POLICY PAGE */
.policy-title {
    margin-top: 100px;
}

.policy-header {
    text-align: left;
}



/* SWIPER PAGE */
.header {
    background-color: white;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
    margin: 50px auto;
    opacity: 1;
    padding: 20px;
    transition: margin 500ms, opacity 500ms;
    width: 800px;
}

.header-small {
    margin: 0 auto;
    opacity: 0.5;
}

.header-small:hover {
    opacity: 1;
}

.error-content {
    padding: 20px;
}

.btn-show-pics {
    border-radius: 4px !important;
    margin-left: 10px !important;
}

.error-hashtag {
    margin: 20px 0 0 0 !important;
}

.result-information {
    font-size: 12px;
    margin-top: 10px;
}

.swiper-logo {
    bottom: 12.5vh;
    display: none;
    height: 50vh;
    left: 0;
    margin-left: 50%;
    position: absolute;
    transform: translateX(-50%);
}

.picture-wrapper {
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    display: none;
    height: 638px;
    margin: 50px 0 40px 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: transform 750ms;
    width: 538px;
}

.picture-wrapper-liked {
    transform: translateX(calc(50vw + 100px)) rotate(90deg) !important;
}

.picture-wrapper-rejected {
    transform: translateX(calc(-50vw - 638px)) rotate(-90deg) !important;
}

.paperclip {
    position: absolute;
    right: 30px;
    top: -7px;
    transition: opacity 250ms;
    z-index: 2;
}

.paperclip-transparent {
    opacity: 0.15;
}

.note {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , #fefdca 0%, #f7f381 100%) repeat scroll 0 0;
    border: 1px solid black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    height: 73px;
    position: absolute;
    right: 10px;
    top: 15px;
    text-align: left;
    transform: rotate(5deg);
    transition: height 200ms, opacity 250ms, width 200ms;
    width: 200px;
    z-index: 1;
}

.note:hover {
    height: 300px;
    width: 300px;
}

.note-transparent {
    opacity: 0.15;
}

.hashtags-section {
    max-height: 28px;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
    transition: max-height 200ms;
    white-space: nowrap;
    width: 100%;
}

.note:hover .hashtags-section {
    max-height: 263px;
    overflow: auto;
    text-overflow: clip;
    white-space: normal;
}

.author-section {
    bottom: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
}

.note-separation {
    border-color: #ddb730 -moz-use-text-color -moz-use-text-color;
    margin: 8px 0 5px;
}

.picture {
    background-color: #E7DFDC;
    border-radius: 5px;
    height: 536px;
    padding: 30px;
    width: 536px;
}

.picture-buttons {
    height: 100px;
    padding: 15px 40px;
    position: relative;
}

.reject-button, .like-button {
    border: 1px solid black;
    border-radius: 35px;
    cursor: pointer;
    height: 70px;
    padding: 10px;
    width: 70px;
}

.reject-button {
    background: rgba(0, 0, 0, 0) url("/img/cancel.png") no-repeat scroll 14px 14px / 40px 40px;
    float: left;
}

.reject-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.like-button {
    background: rgba(0, 0, 0, 0) url("/img/like_not_filled.png") no-repeat scroll 14px 18px / 40px 35px;
    float: right;
}

.like-button:hover, .like-button-active {
    background: rgba(0, 0, 0, 0.15) url("/img/like_filled.png") no-repeat scroll 14px 18px / 40px 35px;
}

.arrows-info {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
}

.footer {
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
}

.page-author {
    color: #E7DFDC;
    float: left;
}

.mailto-link {
    color: #E7DFDC;
}

.mailto-link:hover, .mailto-link:focus, .mailto-link:active {
    color: #ACADBA;
}

.policy-link {
    color: #E7DFDC;
    float: right;
    text-decoration: underline;
}

.policy-link:hover, .policy-link:focus, .policy-link:active {
    color: #ACADBA;
}
